= render partial: "shared/print_errors", locals: {obj: @book}

.form
  = form_for @book do |f|
    %h2 book
    .form_row
      = f.label :title, "Nombre"
      = f.text_field :title
    .form_row
      = f.label :description
      = f.text_field :description
    .form_row
      = f.label :price
      = f.number_field :price
    .form_row
      = f.label :category
    - if(@book.id.present?)
      = f.text_field :category, :readonly => true
    - else
      = f.select :category, Book.book_options
    
    #register
    = f.submit
