%h1= @book.title
%p
  %strong Name
  = @book.title
%p
  %strong description
  = @book.description

%p
  %strong price
  = @book.decorate

%p
  %strong category
  = @book.category




%br
- if !current_user.nil?
  = link_to "Edit Book", edit_book_path(@book)
  = link_to "back", books_author_path(current_user.id)
- else
  = link_to "back", books_path

%br
  - if current_user.nil?
    %h2 Detalle de Ordenes

    = link_to "Crear Order", new_book_order_path(@book)

    = form_for @book do |f|
      %table{border: "1"}
        %tr
          %th Client
          %th Total
          %th Quantity
          %th Fecha

        = f.fields_for :orders do |order|
          %tr
            %td= order.text_field :decorate_client, readonly: true
            %td= order.text_field :decorate_total, readonly: true
            %td= order.number_field :quality, readonly: true
            %td= order.text_field :decorate_fecha, readonly: true
